@use './colors.scss' as colors;
@use './mixins.scss' as mixins;
@use './fonts.scss' as typeography;

body {
  background-color: colors.$accent-color;
  font-family: typeography.$ubuntu;
}

h1 {
  font-size: 2rem;
  @include mixins.headings;
}

h2 {
  font-size: 2rem;
  @include mixins.heading-2-3;
}

h3 {
  font-size: 1.5rem;
  @include mixins.heading-2-3;
}

p {
  color: colors.$main-color-scheme-1
}