@use './colors.scss' as colors;

// Flexbox mixins

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Text mixins

@mixin headings {
  font-weight: 700;
  color: colors.$medium-beige;
  text-align: center;
  width: 350px;
  border-radius: 0.25rem;
}

// container mixins

@mixin container {
  color: colors.$medium-beige;
  background-color: colors.$dark-gray;
  border: 1px solid colors.$medium-beige;
  border-radius: 0.25rem;
}