@use "./colors.scss" as colors;

// Flexbox mixins

@mixin flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin flex-row-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}

// Text mixins

@mixin headings {
	font-weight: 600;
	margin: 1rem 0.5rem;
	padding: 1rem 1rem;
	width: fit-content;
	color: colors.$main-color-scheme-1;
	background-color: colors.$main-color-scheme-4;
	@include border($shadow: true, $radius: true, $border: true);
}

@mixin heading-2-3 {
	font-weight: 500;
	padding: 0.5rem;
	color: colors.$main-color-scheme-4;
}

// container mixins

@mixin container {
	color: colors.$main-color-scheme-4;
	background-color: colors.$main-color-scheme-1;
}

@mixin text-container {
	margin: 2rem auto 0 auto;
	padding: 1rem;
	@include border(
		$shadow: true,
		$radius: true,
		$border: true,
		$color: colors.$main-color-scheme-4
	);
	background-color: colors.$main-color-scheme-1;
}

// Form mixins

@mixin form-container {
	@include container;
	@include border(
		$shadow: true,
		$radius: true,
		$border: true,
		$color: colors.$main-color-scheme-4
	);
	width: fit-content;
	padding: 1.5rem;
	label {
		font-weight: 600;
		padding: 0.75rem;
	}
	input {
		margin: 0.25rem;
		padding: 0.75rem;
	}
	button {
		margin: 0.5rem auto;
	}
}

// Border mixin

@mixin border(
	$shadow: true,
	$radius: true,
	$border: true,
	$thickness: 2px,
	$color: colors.$main-color-scheme-4
) {
	@if $shadow {
		box-shadow: colors.$box-shadow;
	}
	@if $radius {
		border-radius: 1rem;
	}
	@if $border {
		border: $thickness solid $color;
	}
}
