@use './colors.scss' as colors;

// Flexbox mixins

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Text mixins

@mixin headings {
  font-weight: 700;
  color: colors.$medium-beige;
  text-align: center;
  width: 350px;
  padding: 2rem;
  border-radius: 0.25rem;
  background-image: url('../../../../public/WoodBackground.jpeg');
}

@mixin paragraphs {
  color: colors.$light-gray;
  font-weight: 400;
  width: fit-content;
  border-radius: 0.25rem;
  text-align: center;
}
