@use '../base/' as base;

.bfc-tally-container {
  @include base.border($shadow: base.$box-shadow-black, $radius: true, $border: true);
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
  background-color: base.$accent-color;
  text-align: center;
  h3 {
    color: base.$highlight-color;
    span {
      color: base.$main-color-scheme-1;
    }
  }
  ul {
    @include base.flex-row-around;
    list-style: none;
    max-height: 6rem;;
    overflow-x: scroll;
    li {
      @include base.border();
      padding: 0 0.5rem;
      background-color: base.$main-color-scheme-4;
      color: base.$main-color-scheme-1;
      &:hover {
        cursor: pointer;
        .delete-tally {
          background-color: base.$main-color-scheme-1;
        }
      };
      .delete-tally {
        color: red;
        margin-left: 0.5rem;
        padding: 0 0.3rem;
        border-radius: 0.25rem;
        font-weight: 900
      };
    }
  };
}

.tally-alert-checkbox {
  margin-top: 1rem;
  color: white
}