@use '../base/colors.scss' as colors;
@use '../base/mixins.scss' as mixins;

.main-container,
.top-col,
.header-row,
.paragraph-col,
.button-col {
  margin: 5px auto;
  padding: 0.5rem;
  @include mixins.flex-col-center;
}

.header-row {
  @include mixins.border;
  height: 800px;
  width: 100%;
  background-image: url('WoodBackground.jpeg');
  margin: 2rem auto;
  scroll-margin-block: 6rem;
}