@use '../base' as base;


.main_container {
	margin: 9rem auto;
	padding: 0rem;
	
}

.header-row {
	@include base.border($thickness: 3px);
	min-height: 40vh;
	width: 100%;
	background-color: base.$main-color-scheme-2;
	margin: 0.5rem auto;
	padding-bottom: 2rem;
	scroll-behavior: smooth;
	scroll-margin-block-start: 8.5rem;
}

.row-image {
	max-width: 500px;
	height: auto;
	border-radius: 2rem;
}

.row-bottom-text-container {
	@include base.text-container;
}

#user-home {
	scroll-margin-block-start: 8.5rem;
}