@use '../base' as base;


.main_container {
	margin: 9rem auto;
}

.header-row {
	@include base.border($thickness: 3px);
	min-height: 40vh;
	width: 100vh;
	background-color: base.$main-color-scheme-2;
	margin: 0.5rem auto;
	padding-bottom: 2rem;
	scroll-behavior: smooth;
	scroll-margin-block-start: 8.5rem;
}

.row-image {
	width: 90%;
	height: 90%;
	object-fit: cover;
	@include base.border($border: true, $thickness: 3px, $color: base.$main-color-scheme-4);
}

.row-bottom-text-container {
	@include base.text-container;
}