@use '../base' as base;

.project-tile-container {
  @include base.flex-row-center;
  max-height: 400px;
  overflow-y: scroll;
  padding: 1rem;
}

.project-tile-container::-webkit-scrollbar {
  width: 0.5rem;
}

.project-tile-container::-webkit-scrollbar-track {
  background: base.$main-color-scheme-2;
}

.project-tile-container::-webkit-scrollbar-thumb {
  background: base.$main-color-scheme-3;
}

.project-tile {
  @include base.flex-row-around;
  @include base.border($shadow: base.$box-shadow-black, $radius: true, $border: true);
  background-color: base.$accent-color;
  color : base.$main-color-scheme-1;
  margin: 0.01rem auto;
  text-align: center;
  height: auto;
  width: 100%;
  padding: 0.4rem;
  padding-top: 0.8rem;
  &:hover {
    cursor: pointer;
    background-color: base.$main-color-scheme-3;
    color : base.$main-color-scheme-1;
  }
  &:active {
    background-color: base.$main-color-scheme-1;
    color : base.$main-color-scheme-4;
  }
}