@use "../base/colors.scss";
@use "../base/mixins.scss";

.clickable-button {
	@include mixins.border();
	color: colors.$main-color-scheme-1;
	background-color: colors.$main-color-scheme-4;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: 700;
	width: 200px;
	&:hover {
		cursor: pointer;
		background-color: colors.$main-color-scheme-3;
	}
	&:active {
		color: colors.$main-color-scheme-4;
		background-color: colors.$main-color-scheme-1;
	}
	a {
		text-decoration: none;
		color: colors.$main-color-scheme-1;
	}
}

.paypal-buttons {
	@include mixins.flex-col-center;
}
