@use "../base/" as base;

.green-icon {
	margin-left: 1rem;
	color: base.$main-color-scheme-1;
	&:hover {
		cursor: pointer;
		color: green
	}
}
.red-icon {
	margin-left: 1rem;
	color: base.$main-color-scheme-1;
	&:hover {
		cursor: pointer;
		color: red;
	}
}
