@use "../base/" as base;

.green-icon {
	margin-left: 1rem;
	color: green;
	&:hover {
		cursor: pointer;
		color: green($color: #000000);
	}
}
.red-icon {
	margin-left: 1rem;
	color: red;
	&:hover {
		cursor: pointer;
		color: red($color: #000000);
	}
}
